<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>day03</display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StudentListServlet</servlet-name>
    <servlet-class>com.zr.servlet.StudentListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StudentDelServlet</servlet-name>
    <servlet-class>com.zr.servlet.StudentDelServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StudentInsServlet</servlet-name>
    <servlet-class>com.zr.servlet.StudentInsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StudentChaServlet</servlet-name>
    <servlet-class>com.zr.servlet.StudentChaServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StudentSerServlet</servlet-name>
    <servlet-class>com.zr.servlet.StudentSerServlet</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>StudentListServlet</servlet-name>
    <url-pattern>/StudentListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentDelServlet</servlet-name>
    <url-pattern>/StudentDelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentInsServlet</servlet-name>
    <url-pattern>/StudentInsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentChaServlet</servlet-name>
    <url-pattern>/StudentChaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentSerServlet</servlet-name>
    <url-pattern>/StudentSerServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>